<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hom-e</title>

    <!-- Bootstrap core CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
   	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link href="css/chosen.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	<script src="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.js"></script>
	<link href="css/rzslider.css" rel="stylesheet"/>
	<link href="css/chosen.min.css" rel="stylesheet">


	
	<script src="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.js"></script>
	<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
	<link href="css/rzslider.css" rel="stylesheet"/>
	
	

	
	
	   
 
		<link href="css/favourite.css" rel="stylesheet"/>

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Lobster|Saira+Semi+Condensed" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet"> 

    <!-- Custom styles for this template -->
    <link href="css/agency.min.css" rel="stylesheet">
	<link href="css/favourite.css" rel="stylesheet"/>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	

  </head>
  

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color:#14141f">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="hom-e.html" id="title"></i> Hom-e</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
		  <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="hom-e.html#providers">Πάροχοι</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="hom-e.html#services">Τι προσφέρουμε</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="hom-e.html#about">Πώς λειτουργεί</a>
            </li>
            
            
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" data-target="#login"><b>Είσοδος</b></button></a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" data-target="#register"><b>Εγγραφή</b></button></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
	
	
	
	

	

	
    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio" ng-app="CombineModule">
      <div class="container">
	  <br>
	  <br>
	  <br>
	  <div ng-controller="ShowController">
		<div>
			<button ng-click="myFunc()" class="btn btn-primary btn-md"><i class="fa fa-filter" aria-hidden="false"> <b>Φίλτρα</b></i></button>
		</div>
		
		
	<div ng-show="showMe">	
<br>
<br>	
	<div class="banner-input" id=search>
			<div class="container">
				<form class="form-inline">
					<div class="form-group col-lg-12 col-md-12 col-sm-12">
						<label><b>Περιοχή:  </b></label>
						
							<select data-placeholder="Πληκτρολόγησε την περιοχή που επιθυμείς" multiple class="chosen-select" name="test" style="width: 100%;" >
								<option value=""></option>
								<optgroup label = "Αττική">
								<option>Νομός Αττικής</option>
		<option>Βόρεια & Ανατολικά Προάστια</option>
		<option>Κέντρο Αθήνας</option>
		<option>Κεντρικά & Δυτικά Προάστια</option>
		<option>Κεντρικά & Νότια Προάστια</option>
		<option>Πειραιάς</option>
		<option>Υπόλοιπο Αττικής</option>
		<option>Υπόλοιπο Πειραιά</option>
	</optgroup>
    <optgroup label = "Athens Center">
    	<option>Κέντρο Αθήνας</option>
		<option>Άγιος Ελευθέριος</option>
		<option>Άγιος Κωνσταντίνος - Πλατεία Βάθης</option>
		<option>Άνω Κυψέλη</option>
		<option>Άνω Πατήσια</option>
		<option>Α΄ Νεκροταφείο</option>
		<option>Ακαδημία Πλάτωνος</option>
		<option>Ακρόπολη</option>
		<option>Αμπελόκηποι</option>
 		<option>Βοτανικός</option>
		<option>Γκάζι</option>
		<option>Γκύζη</option>
		<option>Γουδή</option>
		<option>Γούβα</option>
		<option>Ελληνορώσων</option>
		<option>Εμπορικό Τρίγωνο - Πλάκα</option>
		<option>Ζάππειο</option>
		<option>Θησείο</option>
		<option>Ιλίσια</option>
		<option>Κεραμεικός</option>
		<option>Κολοκυνθού</option>
		<option>Κολωνάκι</option>
		<option>Κολωνός</option>
		<option>Κουκάκι - Μακρυγιάννη</option>
		<option>Κυψέλη</option>
		<option>Λυκαβηττός</option>
		<option>Μουσείο - Εξάρχεια - Νεάπολη</option>
		<option>Νέα Κυψέλη</option>
		<option>Νέος Κόσμος</option>
		<option>Νιρβάνα</option>
		<option>Παγκράτι</option>
		<option>Πανεπιστημιούπολη</option>
		<option>Πατήσια</option>
		<option>Πεδίον Άρεως</option>
		<option>Πεντάγωνο</option>
		<option>Πετράλωνα</option>
		<option>Πλατεία Αμερικής</option>
		<option>Πλατεία Αττικής</option>
		<option>Πολύγωνο</option>
		<option>Προμπονά</option>
		<option>Ρηγίλλης</option>
		<option>Ριζούπολη</option>
		<option>Ρουφ </option>
		<option>Σεπόλια </option>
		<option>Στάδιο </option>
		<option>Σταθμός Λαρίσης</option>
	</optgroup>
	</optgroup>
		<optgroup label = "Heraklion,Crete">
		<option value="4">City Center</option>
		<option value="5">Gazi</option>
		<option value="6">Tsalikaki</option>
	</optgroup>
    
							</select>
					</div>
		<div class="col-lg-12 text-center"><p></p></div>
		
		<div class="form-group col-lg-6 col-md-8 col-sm-12" ng-controller="TestController as vm">
			<label><b>Τιμή:  </b></label>
			<rzslider rz-slider-model="vm.priceSlider.minValue" rz-slider-high="vm.priceSlider.maxValue" rz-slider-options="vm.priceSlider.options"></rzslider>
		</div>
		<div class="form-group col-lg-6 col-md-8 col-sm-12" ng-controller="TestController as tm">
			<label><b>Εμβαδον:  </b></label>
			 <rzslider rz-slider-model="tm.embadonSlider.minValue" rz-slider-high="tm.embadonSlider.maxValue" rz-slider-options="tm.embadonSlider.options"></rzslider>
		</div>
		<br>
		<div class="col-lg-12 text-center">
			<a href="" data-toggle="modal" data-target="#communication"><i class="fa fa-filter" aria-hidden="false" style="color:#056571;"> <b style="color:#414141; font-size: 20px;">Περισσότερα</b></i></a>
		</div>
		<div class="col-lg-12 text-center"><p></p></div>
		
		<div class="col-lg-12 text-center">
		

			<a href="homes.html" class="btn btn-primary btn-lg" role="button" style=" border-color: #056571;background-color: #056571;"><b>Ανανέωση</b></a>
			
		</div>
	</form>
	</div>
	</div>
    </div> 
        
      
    </header>
	
	
		<!-- Message-->
	<div class="modal fade" id="communication" role="dialog">
    <div class="modal-dialog modal-lg">
	

      <!-- Modal content-->

      <div class="modal-content" style="background: #ccdfcb;">

	  <div class="modal-heading">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="form-signin-heading text-center container" style="background:#056571; min-height:200px;">
			<br>
					<span class="fa-stack fa-3x">
						<i class="fa fa-circle fa-stack-2x" style="color:#ff6a5c;"></i>
						<i class="fa fa-filter fa-stack-1x fa-inverse"></i>
					</span>
					<p></p>
					<h6 class="text-center" style="color:white; text-size:15px;"><i style="color:white; text-size:15px;">Συμπλήρωσε τα κριτήτια που επιθυμείς και σημείωσε πόσο σημαντικό είναι για σένα κάθε κριτήριο.</i></h6>
					<h6 class="text-center" style="color:white;"><i>Έτσι, οι αγγελίες που σου ταιριάζουν περισσότερο θα εμφανίζονται πρώτες.</i></h6>
				</div>

			<br>
		</div>
		
        <div class="modal-body container-fluid">
		<div class="container" >
			<form class="form-inline" action="/action_page.php">
    <div class="form-group"><label class = "col-md-2">Υπνοδωμάτια:  </label> 
					<input type="text" class="form-control col-md-2 offset-md-2" id="inputEmail4" placeholder="Από">
					<input type="text" class="form-control col-md-2" id="inputEmail4" placeholder="Έως">
					</div>
  </form>
  <form class="form-inline" action="/action_page.php">
					<div class="form-group col-md-8 offset-md-1" ng-controller="TestController as bed">
					<rzslider rz-slider-model="bed.bedroomSlider.value" rz-slider-options="bed.bedroomSlider.options"></rzslider>
					</div>
  </form>
  <br>
  <form class="form-inline" action="/action_page.php">
    <div class="form-group"><label class = "col-md-2">Όροφος:  </label> 
					<input type="text" class="form-control col-md-2 offset-md-2" id="inputEmail4" placeholder="Από">
					<input type="text" class="form-control col-md-2" id="inputEmail4" placeholder="Έως">
					</div>
  </form>
  <form class="form-inline">				
					<div class="form-group col-md-8 offset-md-1" ng-controller="TestController as fl">
			<rzslider rz-slider-model="fl.floorSlider.value" rz-slider-options="fl.floorSlider.options"></rzslider>
					</div>
  </form>
  <br>
   <form class="form-inline">
					<div class="form-group"><label class = "col-md-12">Κοντα σε Μέσα:</label>
					</div>
					<div class="custom-control custom-checkbox" >
					    <input type="checkbox" class="custom-control-input" id="customCheck1">
				        <label class="custom-control-label" for="customCheck1" ></label>
					</div>
  </form>
   <form class="form-inline">				
					<div class="form-group col-md-8 offset-md-1"  ng-controller="TestController as metro">
				<rzslider rz-slider-model="metro.metroSlider.value" rz-slider-options="metro.metroSlider.options"></rzslider>
					</div>
  </form>
  <br>
   <form class="form-inline">
					<div class="form-group"><label class = "col-md-12">Επιπλωμένο:</label>
					</div>
					<div class="custom-control custom-checkbox" >
					    <input type="checkbox" class="custom-control-input" id="customCheck2" >
				        <label class="custom-control-label" for="customCheck2"></label>
					</div>
  </form>
     <form class="form-inline">				
					<div class="form-group col-md-8 offset-md-1" ng-controller="TestController as furn">
				<rzslider rz-slider-model="furn.furnitureSlider.value" rz-slider-options="furn.furnitureSlider.options"></rzslider>
					</div>
  </form>
  <br>
   <form class="form-inline">
					<div class="form-group"><label class = "col-md-12">Κλιματισμός:</label>
					</div>
					<div class="custom-control custom-checkbox" >
					    <input type="checkbox" class="custom-control-input" id="customCheck3" >
				        <label class="custom-control-label" for="customCheck3"></label>
					</div>
  </form>
       <form class="form-inline">				
					<div class="form-group col-md-8 offset-md-1"  ng-controller="TestController as air">
				<rzslider rz-slider-model="air.airSlider.value" rz-slider-options="air.airSlider.options"></rzslider>
					</div>
  </form>
  <br>
     <form class="form-inline">
					<div class="form-group"><label class = "col-md-12">Αυτόνομη θέρμανση:</label>
					</div>
					<div class="custom-control custom-checkbox" >
					<input type="checkbox" class="custom-control-input" id="customCheck4" >
				<label class="custom-control-label" for="customCheck4"></label>
					</div>
  </form>
       <form class="form-inline">				
					<div class="form-group col-md-8 offset-md-1"  ng-controller="TestController as hot">
				<rzslider rz-slider-model="hot.hotSlider.value" rz-slider-options="hot.hotSlider.options"></rzslider>
					</div>
  </form>
    <br>
     <form class="form-inline">
					<div class="form-group"><label class = "col-md-12">Φυσικό αέριο:</label>
					</div>
					<div class="custom-control custom-checkbox" >
					<input type="checkbox" class="custom-control-input" id="customCheck5" >
				<label class="custom-control-label" for="customCheck5"></label>
					</div>
  </form>
       <form class="form-inline">				
					<div class="form-group col-md-8 offset-md-1" ng-controller="TestController as nat">
				<rzslider rz-slider-model="nat.natSlider.value" rz-slider-options="nat.natSlider.options"></rzslider>
					</div>
  </form>
      <br>
     <form class="form-inline">
					<div class="form-group"><label class = "col-md-12">Πάρκιν:</label>
					</div>
					<div class="custom-control custom-checkbox" >
					<input type="checkbox" class="custom-control-input" id="customCheck6" >
				<label class="custom-control-label" for="customCheck6"></label>
					</div>
  </form>
       <form class="form-inline">				
					<div class="form-group col-md-8 offset-md-1" ng-controller="TestController as parking">
				<rzslider rz-slider-model="parking.parkingSlider.value" rz-slider-options="parking.parkingSlider.options"></rzslider>
					</div>
  </form>
        <br>
     <form class="form-inline">
					<div class="form-group"><label class = "col-md-12">Αποθήκη:</label>
					</div>
					<div class="custom-control custom-checkbox" >
					<input type="checkbox" class="custom-control-input" id="customCheck7" >
				<label class="custom-control-label" for="customCheck7"></label>
					</div>
  </form>
       <form class="form-inline">				
					<div class="form-group col-md-8 offset-md-1" ng-controller="TestController as warehouse">
				<rzslider rz-slider-model="warehouse.warehouseSlider.value" rz-slider-options="warehouse.warehouseSlider.options"></rzslider>
					</div>
  </form>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
 
	  
		
		
		
		
        <div class="row" style="margin-top:70px;">
          <div class="col-lg-12 text-center">
            <h4 class="section-heading">Βρες το σπίτι που σου ταιριάζει!</h2>
			<h5 class="section-subheading text-muted">Οι αγγελίες εμφανίζονται με βάση τη σπουδαιότητα των κριτηρίων που έχεις ορίσει.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" href="http://www.xe.gr/property/enoikiaseis%7Ckatoikies%7Ckypseli%7C484740527.html">
              <div class="portfolio-hover">
				<h5 class="btn btn-primary btn-xs " id="intrestings">Ασανσέρ</h5>
				<h5 class="btn btn-primary btn-xs " id="intrestings">Κοντά σε Μέσα</h5>
				<h5 class="btn btn-primary btn-xs " id="intrestings">2 Υπνοδωμάτια</h5>
				<h5 class="btn btn-primary btn-xs " id="intrestings">Κλιματισμός</h5>
				<hr> 
				<div class="portfolio-hover-content">
					<i style="text-align:center" class="fa fa-plus fa-3x"></i>
                </div>
				<div>
				<span><img src="img/providers/xe.jpg" class="img-thumbnail" style="width:100px; height:100px;"><span>
				</div>
              </div>
              <img class="img-fluid" src="img/130475677_300x220.jpg" alt="" id="photo">
            </a>
            <div class="portfolio-caption">
              <h4>Πετράλωνα<small>  30/04/2018</small></h4>
              <p class="text-muted">Τιμή: 350$</p>
			  <p class="text-muted">Εμβαδόν: 80τμ</p>
			  <div class="content"  ng-controller="Main">
					<a href="#" ng-click="doVote()">
					<i class="fa fa-2x" ng-class="(like.userVotes==1) ? 'fa-heart' : 'fa-heart-o'" style="color: red; font-size:40px;"></i>
					<span ng-model="like.votes"></span>
					</a>
				</div>
			  
            </div>
			
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" href="profil2.html">
              <div class="portfolio-hover">
				<h5 class="btn btn-primary btn-xs " id="intrestings">Ασανσέρ</h5>
				<h5 class="btn btn-primary btn-xs " id="intrestings">Κοντά σε Μέσα</h5>
				<h5 class="btn btn-primary btn-xs " id="intrestings">2 Υπνοδωμάτια</h5>
				<h5 class="btn btn-primary btn-xs " id="intrestings">Κλιματισμός</h5>
				<hr> 
				<div class="portfolio-hover-content">
					<i style="text-align:center" class="fa fa-plus fa-3x"></i>
                </div>
				<div>
				<span><img src="img/providers/xe.jpg" class="img-thumbnail" style="width:100px; height:100px;"><span>
				</div>
              </div>
              <img class="img-fluid" src="img/enoik2.jpg" alt="" id="photo">
            </a>
            <div class="portfolio-caption">
              <h4>Θησείο<small>  27/04/2018</small></h4>
              <p class="text-muted">Τιμή: 450$</p>
			  <p class="text-muted">Εμβαδόν: 60τμ</p>
			  <div class="content"  ng-controller="Main">
					<a href="#" ng-click="doVote()">
					<i class="fa fa-2x" ng-class="(like.userVotes==1) ? 'fa-heart' : 'fa-heart-o'" style="color: red; font-size:40px;"></i>
					<span ng-model="like.votes"></span>
					</a>
				</div>
            </div>
          </div>
                    <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" href="profil2.html">
              <div class="portfolio-hover">
				<h5 class="btn btn-primary btn-xs " id="intrestings">Ασανσέρ</h5>
				<h5 class="btn btn-primary btn-xs " id="intrestings">Κοντά σε Μέσα</h5>
				<h5 class="btn btn-primary btn-xs " id="intrestings">1 Υπνοδωμάτιο</h5>
				<h5 class="btn btn-primary btn-xs " id="intrestings">Φυσικό αέριο</h5>
				<hr> 
				<div class="portfolio-hover-content">
					<i style="text-align:center" class="fa fa-plus fa-3x"></i>
                </div>
				<div>
				<span><img src="img/providers/xe.jpg" class="img-thumbnail" style="width:100px; height:100px;"><span>
				</div>
              </div>
              <img class="img-fluid" src="img/polykatoikies.jpg" alt="" id="photo">
            </a>
            <div class="portfolio-caption">
              <h4>Αμπελόκηποι<small>  01/05/2018</small></h4>
              <p class="text-muted">Τιμή: 380$</p>
			  <p class="text-muted">Εμβαδόν: 75τμ</p>
			  <div class="content"  ng-controller="Main">
					<a href="#" ng-click="doVote()">
					<i class="fa fa-2x" ng-class="(like.userVotes==1) ? 'fa-heart' : 'fa-heart-o'" style="color: red; font-size:40px;"></i>
					<span ng-model="like.votes"></span>
					</a>
				</div>
            </div>
          </div>
                    <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" href="profil2.html">
              <div class="portfolio-hover">
				<h5 class="btn btn-primary btn-xs " id="intrestings">2ος όροφος</h5>
				<h5 class="btn btn-primary btn-xs " id="intrestings">Κοντά σε Μέσα</h5>
				<h5 class="btn btn-primary btn-xs " id="intrestings">2 Υπνοδωμάτια</h5>
				<hr> 
				<div class="portfolio-hover-content">
					<i style="text-align:center" class="fa fa-plus fa-3x"></i>
                </div>
				<div>
				<span><img src="img/providers/spitogatos.png" class="img-thumbnail" style="width:100px; height:100px;"><span>
				</div>
              </div>
              <img class="img-fluid" src="img/enoik.jpg" alt="" id="photo">
            </a>
            <div class="portfolio-caption">
              <h4>Παγκράτι<small>  28/04/2018</small></h4>
              <p class="text-muted">Τιμή: 290$</p>
			  <p class="text-muted">Εμβαδόν: 48τμ</p>
			  <div class="content"  ng-controller="Main">
					<a href="#" ng-click="doVote()">
					<i class="fa fa-2x" ng-class="(like.userVotes==1) ? 'fa-heart' : 'fa-heart-o'" style="color: red; font-size:40px;"></i>
					<span ng-model="like.votes"></span>
					</a>
				</div>
            </div>
          </div>
                    <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" href="profil2.html">
              <div class="portfolio-hover">
				<h5 class="btn btn-primary btn-xs " id="intrestings">Ασανσέρ</h5>
				<h5 class="btn btn-primary btn-xs " id="intrestings">Επιπλωμένο</h5>
				<h5 class="btn btn-primary btn-xs " id="intrestings">1 Υπνοδωμάτιo</h5>
				<h5 class="btn btn-primary btn-xs " id="intrestings">Αποθήκη</h5>
				<hr> 
				<div class="portfolio-hover-content">
					<i style="text-align:center" class="fa fa-plus fa-3x"></i>
                </div>
				<div>
				<span><img src="img/providers/spiti24.png" class="img-thumbnail" style="width:100px; height:100px;"><span>
				</div>
              </div>
              <img class="img-fluid" src="img/129178259_300x220.jpg" alt="" id="photo">
            </a>
            <div class="portfolio-caption">
              <h4>Πετράλωνα<small>  25/04/2018</small></h4>
              <p class="text-muted">Τιμή: 380$</p>
			  <p class="text-muted">Εμβαδόν: 78τμ</p>
			  <div class="content"  ng-controller="Main">
					<a href="#" ng-click="doVote()">
					<i class="fa fa-2x" ng-class="(like.userVotes==1) ? 'fa-heart' : 'fa-heart-o'" style="color: red; font-size:40px;"></i>
					<span ng-model="like.votes"></span>
					</a>
				</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" href="profil2.html">
              <div class="portfolio-hover">
				<h5 class="btn btn-primary btn-xs " id="intrestings">Ασανσέρ</h5>
				<h5 class="btn btn-primary btn-xs " id="intrestings">2ος όροφος</h5>
				<h5 class="btn btn-primary btn-xs " id="intrestings">Κλιματισμός</h5>
				<hr> 
				<div class="portfolio-hover-content">
					<i style="text-align:center" class="fa fa-plus fa-3x"></i>
                </div>
				<div>
				<span><img src="img/providers/tospitimou.jpg" class="img-thumbnail" style="width:100px; height:100px;"><span>
				</div>
              </div>
              <img class="img-fluid" src="img/enoik3.jpg" alt="" id="photo">
            </a>
            <div class="portfolio-caption">
              <h4>Παγκράτι<small>  01/05/2018</small></h4>
              <p class="text-muted">Τιμή: 390$</p>
			  <p class="text-muted">Εμβαδόν: 87τμ</p>
			  	<div class="content"  ng-controller="Main">
					<a href="#" ng-click="doVote()">
					<i class="fa fa-2x" ng-class="(like.userVotes==1) ? 'fa-heart' : 'fa-heart-o'" style="color: red; font-size:40px;"></i>
					<span ng-model="like.votes"></span>
					</a>
				</div>
            </div>
          </div>
        </div>
      </div>
    </section>


    

    

    <!-- Footer -->
    <footer style="background:#14141F;">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="copyright" style="color:white;">Copyright &copy; Hom-e 2018</span>
          </div>
          
          
        </div>
      </div>
    </footer>

 
    </div>

    
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
 

    <!-- Custom scripts for this template -->
    <script src="js/agency.min.js"></script>
	
		<script src="js/chosen.jquery.min.js"></script>
	<script src="js/chosen.proto.min.js"></script>
	
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    
	<script src="js/chosen.jquery.min.js"></script>
	<script src="js/chosen.proto.min.js"></script>

	<script src="js/favourite.js"></script>
	
	<script>
		
		$(".chosen-select").chosen({
  no_results_text: "Oops, nothing found!"
})
	</script>
	
	<script>
		var myApp = angular.module('myapp', ['rzModule']);

myApp.controller('TestController', TestController);

function TestController() {
    var vm = this;
	var tm = this;
	var bed = this;
	var fl = this;
	var metro = this;
	var furn = this;
	var air = this;
	var hot = this;
	var nat = this;
	var parking = this;
	var warehouse = this;

    vm.priceSlider = {
        minValue: 200,
        maxValue: 500,
        options: {
            floor: 0,
            ceil: 1500,
        }
    }
	
	tm.embadonSlider = {
        minValue: 55,
        maxValue: 80,
        options: {
            floor: 0,
            ceil: 250,
        }
    }
	
	bed.bedroomSlider = {
		 value: 0,
    options: {
		floor: 0,
        ceil: 5,
        showSelectionBar: true
    }
	}
	
	fl.importantSlider = {
		 value: 0,
    options: {
		floor: 0,
        ceil: 5,
        showSelectionBar: true
    }
	}
	
	metro.importantSlider = {
		 value: 0,
    options: {
		floor: 0,
        ceil: 5,
        showSelectionBar: true
    }
	}
	
	furn.importantSlider = {
		 value: 0,
    options: {
		floor: 0,
        ceil: 5,
        showSelectionBar: true
    }
	}
	
	air.importantSlider = {
		 value: 0,
    options: {
		floor: 0,
        ceil: 5,
        showSelectionBar: true
    }
	}
	
	hot.importantSlider = {
		 value: 0,
    options: {
		floor: 0,
        ceil: 5,
        showSelectionBar: true
    }
	}
	
	nat.importantSlider = {
		 value: 0,
    options: {
		floor: 0,
        ceil: 5,
        showSelectionBar: true
    }
	}
	
	parking.importantSlider = {
		 value: 0,
    options: {
		floor: 0,
        ceil: 5,
        showSelectionBar: true
    }
	}
	
	warehouse.importantSlider = {
		 value: 0,
    options: {
		floor: 0,
        ceil: 5,
        showSelectionBar: true
    }
	}
}
	</script>
	
	<script>
		$('.your-checkbox').prop('indeterminate', true)
	</script>
	
	<script>
	var app = angular.module('show', []);

    app.controller('ShowController', function($scope) {
      $scope.showMe = false;
      $scope.myFunc = function(){
      $scope.showMe = !$scope.showMe;
    }
    });
	</script>
	
	<script>
		angular.module("CombineModule", ["myapp", "fav", "show"]);
	</script>
	
	

  </body>

</html>
